.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 225px;
  height: 20px;
}

.buttonwip {
  background-color: #8f8f8f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 225px;
  height: 20px;
}

.centreButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  }

.backbutton{
  display: block;
  float: left;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 200px;
  height: 20px;
}

.menubutton{
  display: block;
  float: right;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 200px;
  height: 20px;
}

.btn {
  display: inline-grid;
  color: #324c6b;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 10px #324c6b;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 40px;
  font weight: bold;
  transition: .4s;
}

.btn:hover {
    background: #f5f5f5;
}

.btnback {
  display: inline-grid;
  float: left;
  color: white;
  background: red;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px red;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  font weight: bold;
  transition: .4s;
}

.btnback:hover {
    background: white;
    color: red;
}

.btnmenu {
  display: inline-grid;
  float: right;
  color: white;
  background: red;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px red;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  font weight: bold;
  transition: .4s;
}

.btnmenu:hover {
    background: white;
    color: red;
}

.btnwip {
  display: inline-grid;
  color: grey;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 10px grey;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 40px;
  font weight: bold;
  transition: .4s;
}

.btnwip:hover {
    background: #f5f5f5;
}

body
background-color: white;
}
