.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 225px;
  height: 20px;
}

.buttonwip {
  background-color: #8f8f8f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 225px;
  height: 20px;
}

.centreButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  }

.backbutton{
  display: block;
  float: left;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 200px;
  height: 20px;
}

.menubutton{
  display: block;
  float: right;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 200px;
  height: 20px;
}

body{
background-color: white;
}
