
/* IMPORTS */

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/* BUTTONS PROPERTIES */

.ctrbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }

 .ctrmultibtn{
  display:flex;
  padding-top: 7vh;
  justify-content: center;
  vertical-align: text-bottom;
  height: 32vh;
  }

/* BUTTONS */

.btnstart {
  width: 400px;
  height: 400px;
  border: none;
  box-shadow: 0 0 0 0 #326096;
  border-radius: 50%;
  background-color: #326096;
  background-image: url('../images/CESDAlogow.png');
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.btn {
  display:grid;
  color: rgb(42, 81, 126);
  background: #ffffff;
  height: 30vh;
  width: 30vh;
  border: 5px solid rgb(42, 81, 126);
  border-radius: 50%;
  text-decoration: none;
  padding: 0px;
  margin-top: 4vh;
  margin-right: 3vh;
  text-align: center;
  align-content: center;
  vertical-align: top;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btn:hover {
    background: #326096;
    color: white;
    border: solid 5px #326096;
}

.btnemer {
  display:grid;
  color: rgb(150, 0, 0);
  background: #ffffff;
  height: 30vh;
  width: 30vh;
  border: 5px solid rgb(150, 0, 0);
  border-radius: 50%;
  text-decoration: none;
  padding: 0px;
  margin-top: 4vh;
  margin-right: 3vh;
  text-align: center;
  align-content: center;
  vertical-align: top;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
 }

.btnemer:hover {
    background: #d10000;
    color: white;
    border: solid 5px #d10000;
}

.btnback {
  position: fixed;
  bottom: 25px;
  display: inline-grid;
  float: left;
  color: white;
  background: #7d7d7d;
  width: 150px;
  height: 25px;
  margin-left: 20px;
  border: 1px solid white;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  font-weight: regular;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btnback:hover {
    background: white;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;
}

.btnmenu {
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: inline-grid;
  float: right;
  color: white;
  background: #7d7d7d;
  width: 150px;
  height: 25px;
  margin-left: 50px;
  margin-right: 20px;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  font-weight: regular;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btnmenu:hover {
    background: white;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;
}

.btnwip {
  display:grid;
  color: rgb(117, 117, 117);
  background: #ffffff;
  height: 30vh;
  width: 30vh;
  border: 5px solid rgb(117, 117, 117);
  border-radius: 50%;
  text-decoration: none;
  padding: 0px;
  margin-top: 4vh;
  margin-right: 3vh;
  text-align: center;
  align-content: center;
  vertical-align: top;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btnwip:hover {
    background: grey;
    color: white;
    border: solid 5px grey;
}

.btnnav {
  display:grid;
  color: rgb(42, 81, 126);
  background: #ffffff;
  height: 12vh;
  width: 12vh;
  border: 5px solid rgb(42, 81, 126);
  border-radius: 50%;
  text-decoration: none;
  padding: 0px;
  margin-top: 4vh;
  text-align: center;
  align-content: center;
  vertical-align: top;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btnnav:hover {
    background: rgb(42, 81, 126);
    color: #ffffff;
    border: 5px solid rgb(42, 81, 126);
}

#startbtngrey{
  border: 5px solid rgb(145, 145, 145);
  color:rgb(145, 145, 145)
}

#startbtngrey:hover{
  background-color: rgb(145, 145, 145);
  border: 5px solid rgb(145, 145, 145);
  color:rgb(255, 255, 255)
}

#nextbtngrey{
  border: 5px solid rgb(145, 145, 145);
  color:rgb(145, 145, 145)
}

#nextbtngrey:hover{
  background-color: rgb(145, 145, 145);
  border: 5px solid rgb(145, 145, 145);
  color:rgb(255, 255, 255)
}

#nextbtn{
  border: 5px solid rgb(42, 81, 126);
  color:rgb(42, 81, 126)
}

#nextbtn:hover{
  background-color: rgb(42, 81, 126);
  border: 5px solid rgb(42, 81, 126);
  color:rgb(255, 255, 255)
}

#touchbtn{
  border: 5px solid rgb(145, 145, 145);
  color:rgb(145, 145, 145)
}

#touchbtn:hover{
  background-color: rgb(145, 145, 145);
  border: 5px solid rgb(145, 145, 145);
  color:rgb(255, 255, 255)
}

#backbtngrey{
  border: 5px solid rgb(145, 145, 145);
  color:rgb(145, 145, 145)
}

#backbtngrey:hover{
  background-color: rgb(145, 145, 145);
  border: 5px solid rgb(145, 145, 145);
  color:rgb(255, 255, 255)
}

/* IFRAME PROPERTIES */

#myIframe{
   display: block;
   position: relative;
   width: 100%;
   height: 86vh;
   margin: 0 auto;
}

/* LOGO PROPERTIES */

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  }

 .toprightyt {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  -webkit-filter: invert(1);
  filter: invert(1);
  }

/* TABLES */

table {
  width:100%;
  border: 2px solid black;
  font-family: Verdana, sans-serif;
  }

table, th, td {
   border-collapse: collapse;
   padding: 5px;
}

th {
  background: black;
  color: white;
}

tr:nth-child(odd) {
    background-color: #ebebeb;
}

.tablediv{
  position:absolute;
  top: 68vh;
  right: 40vh;
  overflow: scroll;
  height: 30%;
  width: 30%;
}

/* POINTER */

.clickable{
    cursor: pointer;
}

/* HIGHLIGHT EFFECT */

.titlehighlight span{
    color: black;
    background-color: #ffd53b;
}

.highlight span{
    color: black;
    background-color: #ffd53b;
}

/* COCKPIT */

.cockpit{
  position:absolute;
  
right: 40vh;
width: 78%;
}

/* NAVDIV */

.navdiv{
  position:absolute;
  right: 10vh;
  top: 25vh;
}

/* GENERAL PROPERTIES */

body{
background-color: white;
}