
/* IMPORTS */

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

/* BUTTONS PROPERTIES */

.ctrbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }

/* BUTTONS */

.btnstart {
  position: relative;
  justify-content:center;
  width: 400px;
  height: 400px;
  border: none;
  box-shadow: 0 0 0 0 #326096;
  border-radius: 50%;
  background-color: #326096;
  background-image: url('../images/CESDAlogow.png');
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.btn {
  display: inline-grid;
  color: #326096;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px #326096;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btn:hover {
    background: #326096;
    color: white;
    border: solid 5px #326096;
}

.btnemer {
  display: inline-grid;
  color: #d10000;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px #d10000;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
 }

.btnemer:hover {
    background: #d10000;
    color: white;
    border: solid 5px #d10000;
}

.btnback {
  position: fixed;
  bottom: 25px;
  display: inline-grid;
  float: left;
  color: white;
  background: #7d7d7d;
  width: 150px;
  height: 25px;
  margin-left: 20px;
  border: 1px solid white;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  font-weight: regular;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btnback:hover {
    background: white;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;
}

.btnmenu {
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: inline-grid;
  float: right;
  color: white;
  background: #7d7d7d;
  width: 150px;
  height: 25px;
  margin-left: 50px;
  margin-right: 20px;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  font-weight: regular;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btnmenu:hover {
    background: white;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;
}

.btnwip {
  display: inline-grid;
  color: grey;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px grey;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btnwip:hover {
    background: grey;
    color: white;
    border: solid 5px grey;
}

/* IFRAME PROPERTIES */

#myIframe{
   display: block;
   position: relative;
   width: 100%;
   height: 86vh;
   margin: 0 auto;
}

/* LOGO PROPERTIES */

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  }

 .toprightyt {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  -webkit-filter: invert(1);
  filter: invert(1);
  }

/* TABLES */

table {
  width:100%;
  border: 2px solid black;
  }

table, th, td {
   border-collapse: collapse;
   padding: 5px;
}

th {
  background: black;
  color: white;
}

tr:nth-child(odd) {
    background-color: #ebebeb;
}

.tablediv{
  position:absolute;
  top: 67vh;
  right: 35vh;
  overflow: scroll;
  height: 30%;
  width: 30%;
}

/* POINTER */

.clickable{
    cursor: pointer;
}

/* HIGHLIGHT EFFECT */

.titlehighlight span{
    color: black;
    background-color: #ffd53b;
}

.highlight span{
    color: black;
    background-color: #ffd53b;
}

/* COCKPIT */

.cockpit{
  position:absolute;
  right: 30vh;
}

/* GENERAL PROPERTIES */

body{
background-color: white;
}