@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';



.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 225px;
  height: 20px;
}

.buttonwip {
  background-color: #8f8f8f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 225px;
  height: 20px;
}

.centreButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  }

.backbutton{
  display: block;
  float: left;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 200px;
  height: 20px;
}

.menubutton{
  display: block;
  float: right;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  width: 200px;
  height: 20px;
}

.btn {
  display: inline-grid;
  color: #326096;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px #326096;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  font weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;


}

.btn:hover {
    background: #326096;
    color: white;
    border: solid 5px #326096;

}

.btnemer {
  display: inline-grid;
  color: #d10000;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px #d10000;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  font weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;


}

.btnemer:hover {
    background: #d10000;
    color: white;
    border: solid 5px #d10000;

}

.btnback {
  position: fixed;
  bottom: 25px;
  display: inline-grid;
  float: left;
  color: white;
  background: #7d7d7d;
  width: 150px;
  height: 25px;
  margin-left: 20px;
  border: 1px solid white;
  text-decoration: none;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  font weight: regular;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;
}

.btnback:hover {
    background: white;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;
}

.btnmenu {
  position: fixed;
  bottom: 25px;
  right: 20px;
  display: inline-grid;
  float: right;
  color: white;
  background: #7d7d7d;
  width: 150px;
  height: 25px;
  margin-left: 50px;
  margin-right: 20px;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  font weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;

}

.btnmenu:hover {
    background: white;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;

}

.btnwip {
  display: inline-grid;
  color: grey;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px grey;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  font weight: bold;
  transition: .4s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;


}

.btnwip:hover {
    background: #f5f5f5;
}

#myIframe
{
   display: block;
   position: relative;
   width: 200vh;
   height: 83vh;
   margin: 0 auto;
}

.btnstart {
  display: inline-grid;
  color: #326096;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  border-radius: 50%;
  border: solid 5px #326096;
  padding: 25px;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  font weight: bold;
  transition: .8s;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 2px;


}

.btnstart:hover {
  box-shadow: 0 0 0 2em var;
  background: #326096;
  color: white;
  border: solid 5px #326096;

body
background-color: white;
}
